{% extends "base.html"%}
{% load static %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-10 m-3">
			<h1>Node Management</h1>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-7 p-0">
			<div id="mapid"></div>
		</div>
		<div class="col-lg p-3">
			<p class="text-muted"><i class="fas fa-info-circle"></i> Click anywhere on the map to add a new node.</p>
			<p class="text-muted"><i class="fas fa-info-circle"></i> Click on the circles to edit/delete nodes.</p>
			<h2 id="form-h">Perform an action to start</h2>
			<fieldset>
				<div class="form-group">
					<label for="txtNodeID" class="form-label">Node ID:</label>
					<input type="text" id="txtNodeID" class="form-control" name="id" readonly/>
					<span class="invalid-feedback d-none emp">This field cannot be empty!</span>
				</div>
				<div class="form-group mt-4">
					<label for="txtNodeLon" class="form-label">Node Longitude:</label>
					<input type="number" id="txtNodeLon" class="form-control" name="lon" onkeypress="return isNumber(event)"/>
					<span class="invalid-feedback d-none emp">This field cannot be empty!</span>
					<span class="invalid-feedback d-none num">Only number is allowed in this field!</span>
				</div>
				<div class="form-group mt-4">
					<label for="txtNodeLat" class="form-label">Node Latitude:</label>
					<input type="number" id="txtNodeLat" class="form-control" name="lat" onkeypress="return isNumber(event)"/>
					<span class="invalid-feedback d-none emp">This field cannot be empty!</span>
					<span class="invalid-feedback d-none num">Only number is allowed in this field!</span>
				</div>
				<div class="form-group mt-4">
					<label for="txtNodeDesc" class="form-label">Node Description:</label>
					<input type="text" id="txtNodeDesc" class="form-control" maxlength="20" name="desc"/>
					<span class="invalid-feedback d-none emp">This field cannot be empty!</span>
				</div>
				<div class="form-group mt-4">
					<label for="selNodeStat" class="form-label">Node Status:</label>
					<select class="form-control" id="selNodeStat" name="stat">
						<option value="null" class="d-none" disabled></option>
						{% for s in node_status %}
							<option value="{{s.id}}">{{s.status}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="form-group mt-4">
					<input class="form-check-input" type="checkbox" id="base-station" checked="">
        			<label class="form-check-label" for="base-station">Base Station?</label>
				</div>
			</fieldset>
			<div class="mt-4 text-xl-right">
				<div class="row">
					<div class="col-9">
						<button class="btn btn-danger mr-2 d-none" id="btnDisable">Disable</button>
						<button class="btn btn-primary d-none" id="btnSubmit" >Add Node</button>
						<button class="btn btn-info mx-2 d-none" id="btnUpdate" >Update</button>
						<button class="btn btn-info mx-2" id="btnUpdate" onclick="refreshmap()">Reset</button>
					</div>
					<div class="col">
						<button type="button" class="btn btn-primary justify-content-end p-2"  data-toggle="modal" data-target="#disabledNodeModal">View disabled Nodes</button>
						
						<div class="modal fade" id="disabledNodeModal" tabindex="-1" role="dialog">
							<div class="modal-dialog modal-xl" role="document">
								<div class="modal-content">
									<div class="modal-header">
									<h5 class="modal-title">Disabled Nodes</h5>
									<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true"></span>
									</button>
									</div>
									<div class="modal-body">
										<table class="table table-hover" id="disabledNodeTable">
											<thead>
												<tr>
													<th scope="col" class="text-center">Node ID</th>
													<th scope="col" class="text-center">Node Desc</th>
													<th scope="col" class="text-center">Node Lat</th>
													<th scope="col" class="text-center">Node Lon</th>
													<th scope="col" class="text-center">Action</th>
												</tr>
											</thead>
											<tbody>
												<!-- <tr>
													<td class="text-center align-middle disabled-node-id">1</td>
													<td class="text-center align-middle">dasd</td>
													<td class="text-center align-middle">3212313213123</td>
													<td class="text-center align-middle">3212313213123</td>
													<td class="text-center align-middle">
														<button class="btn btn-primary rounded enable-node">Enable</button>
													</td>
												</tr>
												 -->
											</tbody>
										</table>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
									</div>
								</div>
							</div>
						</div>	
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="notif">
	<div class="alert alert-dismissible alert-danger fade rounded d-none" style="z-index:9999999" id="errorToast">
		<div class="loading" style="background-color: #FF775C;"></div>
		<button type="button" class="btn-close" data-dismiss="alert"></button>
		<strong>Error!</strong> <span class="msg"></span>
	</div>
	<div class="alert alert-dismissible alert-success fade rounded  d-none" style="z-index:9999999" id="successToast">
		<div class="loading" style="background-color: #7FFF7F;"></div>
		<button type="button" class="btn-close" data-dismiss="alert"></button>
		<strong>Success!</strong> <span class="msg"></span>
	</div>
</div>



<script>

	var popup = L.popup();
	var clickCircle = [];
	var unregCircle = false;
	var editMode = false;
	var lastID;
	var prevCircle;
	var prevLatLng;
	var mymap = L.map('mapid').setView([3.146450, 101.711250], 13);

	function addTile(){
		L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
			maxZoom: 18,
			attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
				'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
			id: 'mapbox/streets-v11',
			tileSize: 512,
			zoomOffset: -1
		}).addTo(mymap);
	}	

	function onMapClick(e) {
		if(prevCircle){
			prevCircle.setLatLng(prevLatLng);
		}
		$("#form-h").text("Add a new Node");
		$("#btnUpdate").addClass("d-none");
		$("#btnDisable").addClass("d-none");
		$("#btnSubmit").removeClass("d-none");
		$.ajax({
			type: "GET",
			url: "nodes/api/manageNode",
			dataType:'json',
			data:{
				"latest_id": ""
			},
			success: function(data){     
				id = data['data'][0]['latest_id']+1;
				len = clickCircle.length;
				lat = e.latlng.lat;
				lng = e.latlng.lng;
				if(!unregCircle){
					lastID = null;
					createCircle(lat, lng, id, false, 1);
					unregCircle = true;
				}
				else{
					mymap.removeLayer(clickCircle[len-1]);
					clickCircle.pop();
					createCircle(lat, lng, id, false, 1);
				}
				popup
					.setLatLng(e.latlng)
					.setContent("Add a node here")
					.openOn(mymap);
				setFields(id, lng, lat, "",1,false);
			}     
		});
	}

	function createCircle(lat, lng, node_id, active, status, is_base){
		len = clickCircle.length;
		var color;
		if(is_base){color = "#3D4C70"}else{color="#68D01E"}
		console.log(status)
		if(status==1){color="#f07300"}
		clickCircle[len] = L.circle([lat, lng],900,{
			color: color,
			fillOpacity: 0.5,
			opacity: 0.5,
			id: node_id,
			status: active
		}).bindPopup("Node ID: "+ node_id)
		.addTo(mymap);
		for(i = 0; i<=len; i++){
			clickCircle[i].addEventListener('click', function(e){
				
			});
			clickCircle[i].addEventListener('mousedown', function(e){
				if(this.options.status){
					if(!editMode || lastID != this.options.id){
						lastID = this.options.id;
						if(prevCircle){
							prevCircle.setLatLng(prevLatLng);
						}
						prevCircle = this;
						prevLatLng = this._latlng;
						onCircleClick(e);
					}
				}
				targetCircle = this;
				mymap.on('mousemove', function (e) {
					targetCircle.setLatLng(e.latlng);
					mymap.dragging.disable();
					$('#txtNodeLon').val(e.latlng.lng);
					$('#txtNodeLat').val(e.latlng.lat);
				});
			});
			clickCircle[i].addEventListener('mouseup', function(){
				mymap.dragging.enable();
			});
			clickCircle[i].addEventListener('mouseover', function(){
				this.openPopup();
			});
			clickCircle[i].addEventListener('mouseout', function(){
				this.closePopup();
			});
		}
	}

	function onCircleClick(e){
		L.DomEvent.stopPropagation(e);
		editMode=true;
		$("#form-h").text("Edit a Node");
		$("#btnUpdate").removeClass("d-none");
		$("#btnDisable").removeClass("d-none");
		$("#btnSubmit").addClass("d-none");
		if(unregCircle){
			mymap.removeLayer(clickCircle[len]);
			clickCircle.pop();
			unregCircle = false;
		}
		var clickedCircle = e.target;
		$.ajax({
			type: "GET",
			url: "nodes/api/manageNode",
			dataType:'json',
			data:{
				"node_id": clickedCircle.options.id
			},
			success: function(data){     
				json = data['data'][0];
				if(json['status']){
					showAlert(2, "Invalid Operation!");
					setFields("","","","","null",false);
					$(".invalid-feedback").addClass("d-none");
					$("#btnUpdate").addClass("d-none");
					$("#btnDisable").addClass("d-none");
					$("#btnSubmit").addClass("d-none");
					$("#form-h").text("Perform an action to start");
				}
				else{
					id = json['id'];
					lon = json['lon'];
					lat = json['lat'];
					dsc = json['dsc'];
					stat = json['stat'];
					bs = json['is_base'];
					setFields(id, lon, lat, dsc, stat, bs);
				}
			}     
		});
		
	}
	
	function setFields(id, lon, lat, desc, status, bs){
		$('#txtNodeID').val(id);
		$('#txtNodeLon').val(lon);
		$('#txtNodeLat').val(lat);
		$('#txtNodeDesc').val(desc);
		$('#selNodeStat').val(status);
		$('#base-station').prop('checked', bs);
	}
	
	function submitNodeForm(method){
		if(!validateInput()){
			return
		}
		id = $('#txtNodeID').val();
		lon = $('#txtNodeLon').val();
		lat = $('#txtNodeLat').val();
		desc = $('#txtNodeDesc').val();
		sel = $('#selNodeStat option:selected').val();
		var bs
		if($('#base-station').is(':checked')){bs=1}else{bs=0};
		if(method == 1){
			type = "POST"
		}
		else if(method == 2){
			type = "PUT"
		}
		$.ajax({
			headers: {
				'X-CSRFTOKEN': '{{ csrf_token }}'
			},
			type: type,
			url: "nodes/api/manageNode",
			dataType:'json',
			data: {
				"id": id,
				"lon": lon,
				"lat": lat,
				"desc": desc,
				"stat": sel,
				"bs": bs
			},
			success: function(data){     
				json = data['data'][0];
				if(json['status']==1){
					var msg;
					if(method==1){msg = "Node successfully registered."}else if(method==2){msg = "Node successfully updated."}
					showAlert(1, msg);
					refreshmap();
				}
				else if(json['status']==-1 && method == 2){
					showAlert(2, "Invalid Operation!");
					setFields("","","","","null",false);
					$(".invalid-feedback").addClass("d-none");
					$("#btnUpdate").addClass("d-none");
					$("#btnDisable").addClass("d-none");
					$("#btnSubmit").addClass("d-none");
					$("#form-h").text("Perform an action to start");
				}
			}     
		});
	}

	function disableNode(type, id){
		var ops;
		if(type==1){ops=3}else if(type==2){ops=1}
		$.ajax({
			headers: {
				'X-CSRFTOKEN': '{{ csrf_token }}'
			},
			type: "PUT",
			url: "nodes/api/manageNode",
			dataType:'json',
			data: {
				"id": id,
				"ops": ops
			},
			success: function(data){     
				json = data['data'][0];
				if(json['status']==1){
					var msg;
					if(type==1){
						msg = "Node successfully disabled."
						setFields("","","","","null",false);
						$(".invalid-feedback").addClass("d-none");
						$("#btnUpdate").addClass("d-none");
						$("#btnDisable").addClass("d-none");
						$("#btnSubmit").addClass("d-none");
						$("#form-h").text("Perform an action to start");
						refreshmap();
						fetchNodeList(2);
					}
					else if(type==2){
						msg = "Node successfully reactivated.";
						refreshmap();
					}
					showAlert(1, msg);
				}
				else if(json['status']==-1 && method == 2){
					showAlert(2, "Invalid Operation!");
					setFields("","","","","null")
				}
			}     
		});
	}
	
	function refreshmap(){
		editMode=false;
		unregCircle = false;
		mymap.eachLayer(function (layer) {
			mymap.removeLayer(layer);
		});
		addTile();
		fetchNodeList(1);
		setFields("","","","","null",false);
	}

	function validateInput(){
		var pass = true;
		txtfields = [$("#txtNodeID"), $("#txtNodeLon"), $("#txtNodeLat"), $("#txtNodeDesc")];
		txtfields.forEach(function(item, index){
			if(item.val().length===0){
				item.addClass("is-invalid");
				item.parent().addClass("has-danger");
				item.siblings(".emp").removeClass("d-none");
				pass = false;
			}
			if(item.is("onkeypress")){
				if(!item.val().isNumeric()){
					item.siblings(".emp").removeClass("d-none");
					pass=false;
				}
			}
		});
		if(!pass){
			showAlert(2, "Please check your input!")
		}
		return pass;
	}

	function isNumber(evt) {
		evt = (evt) ? evt : window.event;
		var charCode = (evt.which) ? evt.which : evt.keyCode;
		if (charCode > 31 && (charCode < 48 || charCode > 57)) {
			return false;
		}
		return true;
	}
	function loading(elem) {
		var i = 0;
		if (i == 0) {
			i = 1;
			var width = 1;
			var id = setInterval(function(){
				width++;
				$('.loading').css("width", width+"%");
				if(width >= 100){
					clearInterval(id);
					i=0;
				}
			}, 15);
		}
	}

	function showAlert(type, message){
		if(type==1){
			elem = $('#successToast');
		}
		else{
			elem = $('#errorToast');
		}
		elem.addClass("show");
		elem.removeClass("d-none");
		bar = elem.children(".loading");
		elem.children(".msg").html(message);
		loading(bar);
		setTimeout(function(){
			elem.removeClass("show");
			elem.removeClass("d-none");
		}, 2000);
	}

	function fetchNodeList(type){
		var fetchtype;
		var data = {};
		if(type==1){fetchtype = "active_node"}else if(type==2){fetchtype = "disabled_node"}
		data[fetchtype]=""
		$.ajax({
			type: "GET",
			url: "nodes/api/manageNode",
			dataType:'json',
			data:data,
			success: function(data){     
				if(type==1){
					arr = data['data'];

					arr.forEach(function(item, index){
						var lat = item['lat'];
						var lon = item['lon'];
						var id = item['id'];
						var is_base = item['is_base'];
						var status = item['stat'];
						console.log(item);
						createCircle(lat, lon, id, true, status, is_base);
					});
				}
				else if(type==2){
					arr = data['data']
					$('#disabledNodeTable tbody').empty();
					arr.forEach(function(item, index){
						var html_str;
						html_str = '<tr><td class="text-center align-middle disabled-node-id">';1
						html_str = html_str + item['id'];
						html_str = html_str + '</td><td class="text-center align-middle">';
						html_str = html_str + item['dsc'];	
						html_str = html_str + '</td><td class="text-center align-middle">';
						html_str = html_str + item['lat'];	
						html_str = html_str + '</td><td class="text-center align-middle">';
						html_str = html_str + item['lon'];	
						html_str = html_str + '</td><td class="text-center align-middle">';
						html_str = html_str + '<button class="btn btn-primary rounded enable-node">Enable</button></td></tr>';
						$('#disabledNodeTable tbody').append(html_str);
					});
				}
				
			}     
		});
	}

	$(document).ready(function(){
		refreshmap();
		fetchNodeList(2);
		setFields("","","","","null",false);
		mymap.on('mouseup',function(e){
			mymap.removeEventListener('mousemove');
		})
		mymap.on('click', onMapClick);
		$("#btnSubmit").click(function(){
			prevCircle = null;
			prevLatLng = null;
 			submitNodeForm(1);
		})
		$("#btnUpdate").click(function(){
			submitNodeForm(2);
		})
		$("#btnDisable").click(function(){
			id = $('#txtNodeID').val();
			disableNode(1, id);
		})
		$(document).on('click','.enable-node',function(){
			id=$(this).parent().siblings(".disabled-node-id").html();
			$(this).parent().parent().remove();
			disableNode(2, id);
		});
	});

</script>
{% endblock content %}