#mapid {
	height: 84vh;
	max-width: 100%;
}

.notif{
	position: absolute !important;
	bottom: 1vw;
	right: 1vw;
	border-radius: 5px;
}
.loading{
	margin-bottom: 0 !important;
    bottom: 0px !important;
    left: 0px !important;
    width: 100%;
    height: 5px !important;
    position: absolute;
    border-radius: 5px;
}

#btnFilter{
	text-decoration: none;
	color:white;
}